* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    width: 960px;
    background-color: #FFCC80;
}

header {
    width: 90%;
    overflow: hidden;
    background-color: violet;
    margin: 0 auto;
}

.logo {
    width: 25%;
    float: left;
    overflow: hidden;

}

.logo>a>img {
    display: block;
    width: 80%;
}

.input-area {
    width: 50%;
    text-align: center;
    float: left;
    margin-top: 10px;
    overflow: hidden;
}

.raper {
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    background-color: cadetblue;
    border-radius: 20px;
}

.fav-area {
    width: 25%;
    float: left;
    overflow: hidden;
}

.fav-area>img {
    width: 50px;
    height: 50px;
    float: right;
    display: block;
}
#search-fild{
    outline: none;
    border: none;
    padding: 10px ;
    background-color: transparent;
}
#search-btn{
    outline: none;
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
}
main{
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}
.serc-result{
    width: 25%;
    float: left;
    height: 100vh;
    overflow: hidden;
    background-color: thistle;
}
.serc-result ul li{
    padding: 5px;
    background-attachment: fixed;
}
.serc-result ul li .src-img{
    width: 45px;
    height: 45px;
    float: left;
    border-radius: 50%;
    background-color: tomato;
}
.serc-result ul li .src-text{
    float: right;
    width: 75%;
}